In [78]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [79]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [80]:
movies = movies.merge(credits, on = 'title')

In [81]:
movies[movies['title'] == 'Me Before You']

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
2115,20000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://www.mebeforeyoumovie.net,296096,"[{""id"": 392, ""name"": ""england""}, {""id"": 818, ""...",en,Me Before You,A small town girl is caught between dead-end j...,53.161905,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...",...,110.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,#LiveBoldly,Me Before You,7.6,2562,296096,"[{""cast_id"": 0, ""character"": ""Louisa \""Lou\"" C...","[{""credit_id"": ""56b778879251416615006f86"", ""de..."

In [82]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [83]:
movies = movies[['id','genres','keywords','overview','popularity','tagline','title','vote_average','vote_count','cast','crew']]

In [84]:
movies.isnull().sum()

id                0
genres            0
keywords          0
overview          3
popularity        0
tagline         844
title             0
vote_average      0
vote_count        0
cast              0
crew              0
dtype: int64

In [85]:
movies['tagline'].fillna('', inplace = True)

In [86]:
movies.dropna(inplace = True)

In [87]:
movies.isnull().sum()

id              0
genres          0
keywords        0
overview        0
popularity      0
tagline         0
title           0
vote_average    0
vote_count      0
cast            0
crew            0
dtype: int64

In [88]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [89]:
import ast

def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i["name"])
    return l

In [90]:
movies['genres']=movies['genres'].apply(convert)

In [91]:
movies.iloc[0].genres

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [92]:
movies['keywords']=movies['keywords'].apply(convert)

In [93]:
import ast

def convert1(obj):
    l=[]
    counter =0
    for i in ast.literal_eval(obj):
        if counter < 3:
            l.append(i["name"])
            counter +=1
        else:
            break
    return l

In [94]:
movies['cast']=movies['cast'].apply(convert1)

In [95]:
import ast

def convert2(obj):
    l=[]

    for i in ast.literal_eval(obj):
        if i['job'] == "Director":
            l.append(i["name"])
            break
    return l

In [96]:
movies['crew']=movies['crew'].apply(convert2)

In [97]:
movies['overview']=movies['overview'].apply(lambda x :x.split())

In [98]:
movies['tagline']=movies['tagline'].apply(lambda x :x.split())

In [99]:
movies.head(1)

,id,genres,keywords,overview,popularity,tagline,title,vote_average,vote_count,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577,"[Enter, the, World, of, Pandora.]",Avatar,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [100]:
movies['genres']=movies['genres'].apply(lambda x :[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x :[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x :[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x :[i.replace(" ","") for i in x])

In [101]:
movies.head(1)

,id,genres,keywords,overview,popularity,tagline,title,vote_average,vote_count,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577,"[Enter, the, World, of, Pandora.]",Avatar,7.2,11800,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [102]:
movies['tags']=movies['overview'] + movies['genres'] + movies['keywords'] +movies['cast'] + movies['crew'] + movies['tagline']

In [103]:
movies.head(1)

,id,genres,keywords,overview,popularity,tagline,title,vote_average,vote_count,cast,crew,tags
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577,"[Enter, the, World, of, Pandora.]",Avatar,7.2,11800,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [104]:
new_df = movies[['id','title','tags']]

In [105]:
new_df.head(1)

      id   title                                               tags
0  19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [106]:
new_df['tags']=new_df['tags'].apply(lambda x :" ".join(x))

C:\Users\Admin\AppData\Local\Temp\ipykernel_980\1182018406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x :" ".join(x))

In [107]:
new_df['tags']= new_df['tags'].apply(lambda x:x.lower())

C:\Users\Admin\AppData\Local\Temp\ipykernel_980\899821970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']= new_df['tags'].apply(lambda x:x.lower())

In [108]:
new_df.head()

,id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [109]:
# import nltk
# from nltk.stem.porter import PorterStemmer   
# ps = PorterStemmer()  
# def stemm(text):
#     y=[]
#     for i in text.split():
#         y.append(ps.stem(i))


#     return " ".join(y)


# new_df['tags']=new_df['tags'].apply(stemm)

In [110]:
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer('english')
def stemm(text):
    y = []
    for i in text.split():
        y.append(stemmer.stem(i))
        
    return " ".join(y)

new_df['tags'] = new_df['tags'].apply(stemm)

C:\Users\Admin\AppData\Local\Temp\ipykernel_980\2107399714.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stemm)

In [111]:
new_df['tags']

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, has ...
2       a cryptic messag from bond past send him on a ...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4804    el mariachi just want to play his guitar and c...
4805    a newlyw coupl honeymoon is upend by the arriv...
4806    "signed, sealed, delivered" introduc a dedic q...
4807    when ambiti new york attorney sam is sent to s...
4808    ever sinc the second grade when he first saw h...
Name: tags, Length: 4806, dtype: object

In [112]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words = 'english')

tfidf = vectorizer.fit_transform(new_df['tags']).toarray()

In [113]:
tfidf.shape

(4806, 33305)

In [114]:

vectorizer.get_feature_names()

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['00',
 '000',
 '007',
 '05',
 '06',
 '07am',
 '08',
 '10',
 '100',
 '1000',
 '1001',
 '101',
 '108',
 '10th',
 '11',
 '114',
 '117',
 '118',
 '119',
 '11th',
 '12',
 '1200',
 '1215',
 '1250',
 '125th',
 '12th',
 '13',
 '130',
 '1300',
 '1350',
 '13th',
 '14',
 '140',
 '1408',
 '141',
 '142',
 '1429',
 '148',
 '14pm',
 '14th',
 '15',
 '150',
 '150th',
 '1520s',
 '1536',
 '15th',
 '15thcenturi',
 '16',
 '1600s',
 '161',
 '1630s',
 '1644',
 '1681',
 '1691',
 '16th',
 '16thcenturi',
 '17',
 '170',
 '1700s',
 '173rd',
 '1748',
 '1776',
 '17th',
 '17thcenturi',
 '18',
 '180',
 '1800',
 '1812',
 '1818',
 '1820',
 '1820s',
 '1824',
 '1831',
 '1834',
 '1836',
 '1838',
 '1839',
 '1841',
 '1845',
 '1850',
 '1850s',
 '1856',
 '1857',
 '1860',
 '1862',
 '1863',
 '1870s',
 '1875',
 '1876',
 '1879',
 '188',
 '1880s',
 '1882',
 '1885',
 '1889',
 '1890',
 '1890s',
 '18th',
 '18thcenturi',
 '19',
 '1900',
 '1900s',
 '1903',
 '1905',
 '191',
 '1910',
 '1910s',
 '1911',
 '1912',
 '1914',
 '1915',
 '1916',
 '1917',
 '1918',
 '1919',
 '1920',
 '1920s',
 '1921',
 '1922',
 '1924',
 '1925',
 '1926',
 '1927',
 '1928',
 '1929',
 '1930',
 '1930s',
 '1931',
 '1932',
 '1933',
 '1934',
 '1936',
 '1937',
 '1939',
 '1940',
 '1940s',
 '1941',
 '1942',
 '1943',
 '1944',
 '1945',
 '1946',
 '1947',
 '1949',
 '1950',
 '1950s',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1960s',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1980s',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1990s',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '19th',
 '19thcenturi',
 '1st',
 '20',
 '200',
 '2000',
 '2000ad',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2025',
 '2027',
 '2028',
 '2029',
 '2031',
 '2033',
 '2035',
 '2046',
 '2047',
 '2054',
 '2058',
 '2087',
 '20s',
 '20th',
 '20thcenturi',
 '21',
 '2159',
 '2199',
 '21st',
 '21stcenturi',
 '22',
 '2257',
 '22nd',
 '23',
 '24',
 '2455',
 '25',
 '250',
 '2505',
 '250cc',
 '25th',
 '25thcenturi',
 '26',
 '2600',
 '27',
 '27th',
 '28',
 '280',
 '28th',
 '29',
 '298',
 '29th',
 '2nd',
 '2ndcenturi',
 '30',
 '300',
 '3000',
 '30s',
 '30th',
 '31',
 '310lb',
 '32',
 '33',
 '344m',
 '35',
 '350',
 '370',
 '38',
 '39',
 '391',
 '3d',
 '3po',
 '3rd',
 '40',
 '400',
 '4000',
 '40s',
 '42',
 '43',
 '44',
 '47',
 '47th',
 '48',
 '480',
 '488',
 '49',
 '4k',
 '4th',
 '50',
 '500',
 '5000',
 '50cent',
 '50s',
 '50th',
 '51',
 '51st',
 '53',
 '533',
 '54',
 '56',
 '563',
 '58',
 '59',
 '5m',
 '5th',
 '60',
 '600',
 '60s',
 '62',
 '63',
 '64',
 '643',
 '65',
 '65th',
 '66',
 '69',
 '6th',
 '70',
 '700',
 '70mm',
 '70s',
 '72',
 '73',
 '747',
 '74th',
 '75',
 '75th',
 '78',
 '79',
 '7th',
 '80',
 '800',
 '80s',
 '81',
 '83',
 '84',
 '86',
 '88',
 '8km',
 '8th',
 '90',
 '9000',
 '900lb',
 '90210',
 '90s',
 '911',
 '922',
 '92nd',
 '93',
 '95',
 '96',
 '97',
 '98',
 '98lbs',
 '99',
 '9th',
 '_wizard',
 'aa',
 'aaa',
 'aaliyah',
 'aam',
 'aamirkhan',
 'aang',
 'aaranthoma',
 'aaron',
 'aaronabram',
 'aaroneckhart',
 'aaronhann',
 'aaronkwok',
 'aaronpaul',
 'aaronruel',
 'aaronschneid',
 'aaronstanford',
 'aarontaylor',
 'aaronyoo',
 'aasheekaabathija',
 'aasifmandvi',
 'aba',
 'abaddon',
 'abagnal',
 'abandon',
 'abandoned',
 'abandonedhous',
 'abandonedmin',
 'abandonment',
 'abba',
 'abbat',
 'abberlin',
 'abbey',
 'abbeylincoln',
 'abbi',
 'abbie',
 'abbiecornish',
 'abbott',
 'abby',
 'abdicates',
 'abdication',
 'abduct',
 'abducted',
 'abduction',
 'abductions',
 'abductor',
 'abe',
 'abel',
 'abelferrara',
 'aberdeen',
 'abernathi',
 'abernathy',
 'abhinayvaddi',
 'abhishekbachchan',
 'abhorr',
 'abhors',
 'abid',
 'abigail',
 'abigailbreslin',
 'abigailhargrov',
 'abigailspenc',
 'abil',
 'abilities',
 'ability',
 'abl',
 'ablai',
 'able',
 'ableman',
 'abo',
 'aboard',
 'abod',
 'abolish',
 'abolit',
 'abolitionist',
 'aborigin',
 'aborigines',
 'abort',
 'abortion',
 'abortionist',
 'abound',
 'abov',
 'abracatastic',
 'abraham',
 'abrahamlincoln',
 'abram',
 'abrams',
 'abras',
 'abroad',
 'abrupt',
 'abs',
 'absenc',
 'absence',
 'absences',
 'absent',
 'absentia',
 'abshire',
 'absolut',
 'absolutely',
 'absorb',
 'absorbent',
 'absorbingpow',
 'absorpt',
 'abstract',
 'absurd',
 'abu',
 'abund',
 'abus',
 'abuse',
 'abusivefath',
 'abusivehusband',
 'abusivemarriag',
 'abyss',
 'aca',
 'academ',
 'academi',
 'academia',
 'academy',
 'acapella',
 'acapulco',
 'acceler',
 'accelerating',
 'accentu',
 'accept',
 'acceptance',
 'accepted',
 'acceptingdeath',
 'accepts',
 'access',
 'accessori',
 'accid',
 'accident',
 'accidental',
 'accidentali',
 'accidentallov',
 'accidentally',
 'accidents',
 'acclaim',
 'acclaimed',
 'acclim',
 'accolad',
 'accompani',
 'accomplic',
 'accomplice',
 'accomplices',
 'accomplish',
 'accord',
 'accordian',
 'account',
 'accountant',
 'accountants',
 'accounts',
 'accra',
 'accumul',
 'accur',
 'accuraci',
 'accuracy',
 'accurs',
 'accus',
 'accused',
 'accuser',
 'ace',
 'acemarrero',
 'ach',
 'achiev',
 'achieve',
 'achievement',
 'achievements',
 'achilles',
 'achim',
 'acid',
 'acker',
 'acquaint',
 'acquaintance',
 'acquir',
 'acquit',
 'acquittal',
 'acquitted',
 'acr',
 'acrimoni',
 'acrobat',
 'act',
 'action',
 'actionhero',
 'actionheroin',
 'actions',
 'activ',
 'activist',
 'activists',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'acts',
 'actual',
 'actually',
 'actuary',
 'acut',
 'ad',
 'ada',
 'adalin',
 'adam',
 'adambaldwin',
 'adambeach',
 'adambousdouko',
 'adambrodi',
 'adambrook',
 'adambutch',
 'adamcampbel',
 'adamcarolla',
 'adamclayton',
 'adamdriv',
 'adamg',
 'adamgarcia',
 'adamgoldberg',
 'adamgreaves',
 'adamgreen',
 'adamjayepstein',
 'adamlamberg',
 'adamlevin',
 'adammarcus',
 'adammckay',
 'adampasc',
 'adamrapp',
 'adamrayn',
 'adamrifkin',
 'adamrodrÃ­guez',
 'adams',
 'adamsandl',
 'adamscott',
 'adamshankman',
 'adamtres',
 'adamwest',
 'adap',
 'adapt',
 'adaptation',
 'adarbeck',
 'add',
 'addict',
 'addiction',
 'addicts',
 'addit',
 'addition',
 'additions',
 'addl',
 'address',
 'adel',
 'adela',
 'adelaid',
 'adelaideclemen',
 'adelemara',
 'adept',
 'adewaleakinnuoye',
 'adhd',
 'adib',
 'adilkoukouh',
 'aditya',
 'adjac',
 'adjani',
 'adjust',
 'adjustment',
 'adl',
 'adler',
 'adm',
 'administ',
 'administr',
 'administration',
 'administrator',
 'admir',
 'admired',
 'admiss',
 'admit',
 'admonish',
 'admonit',
 'ado',
 'adolesc',
 'adolescence',
 'adolescentboy',
 'adolescents',
 'adolf',
 'adolfhitl',
 'adolfoc',
 'adolphdavi',
 'adolphemenjou',
 'adoni',
 'adonijah',
 'adopt',
 'adoptedchild',
 'adoption',
 'adoptivefath',
 'adoptivemoth',
 'ador',
 'adorable',
 'adores',
 'adren',
 'adrenalin',
 'adrenaline',
 'adrenalinejunki',
 'adrian',
 'adriana',
 'adrianabarraza',
 'adrianacaselotti',
 'adriandunbar',
 'adriangaeta',
 'adriangonzalez',
 'adriangreni',
 'adrianjam',
 'adrianlyn',
 'adriannepalicki',
 'adrianogiannini',
 'adrianpaul',
 'adrienbrodi',
 'adriennebarbeau',
 'adriennek',
 'adriennepick',
 'adrienneshelli',
 'adrift',
 'adriÃ¡nalonsobarona',
 'adul',
 'adult',
 'adultanim',
 'adultasachild',
 'adulter',
 'adulteri',
 'adultery',
 'adulthood',
 'adulthumor',
 'adultress',
 'adults',
 'advanc',
 'advantag',
 'advantage',
 'advent',
 'adventur',
 'adventure',
 'adventures',
 'adventuress',
 'adventurous',
 'advers',
 'adversari',
 'adversaries',
 'adversity',
 'advertis',
 'advertised',
 'advertisement',
 'advertisements',
 'advertisingexecut',
 'advertisingexpert',
 'advic',
 'advice',
 'advis',
 'adviser',
 'advisers',
 'advisor',
 'advisori',
 'advisors',
 'advoc',
 'aegi',
 'aerial',
 'aerialcombat',
 'aerialist',
 'aerialshot',
 'aerob',
 'afar',
 'affabl',
 'affable',
 'affair',
 'affairs',
 'affect',
 'affection',
 'affectionate',
 'affections',
 'affirm',
 'afflict',
 'affluent',
 'afford',
 'afghan',
 'afghani',
 'afghanistan',
 'afloat',
 'afoot',
 'afoul',
 'afraid',
 'africa',
 'african',
 'africanamerican',
 'africanamericanchild',
 'africanamericancomedi',
 'africanamericanmus',
 'africannationalcongress',
 'afro',
 'afshin',
 'aftercar',
 'aftercreditssting',
 'afterglow',
 'afterlif',
 'afterlife',
 'aftermath',
 'afternoon',
 'afterward',
 'ag',
 'agamemnom',
 'agamemnon',
 'agatakulesza',
 'agatatrzebuchowska',
 'agbaj',
 'age',
 'aged',
 'agediffer',
 'ageless',
 'agenc',
 'agencies',
 'agency',
 'agenda',
 'agent',
 'agentcoulson',
 'agents',
 'ages',
 'aggie',
 'aggress',
 'aggressionbyanim',
 'aggressionbypl',
 'aggressive',
 'agil',
 'aging',
 'agit',
 'agitate',
 'agitated',
 'agnesbruckn',
 'agnieszkaholland',
 'agnieszkawojtowicz',
 'agniyaditkovskit',
 'agnost',
 'ago',
 'agon',
 'agoni',
 'agoraphob',
 'agosto',
 'agre',
 'agree',
 'agreement',
 'agrees',
 'agri',
 'agricultur',
 'agumon',
 'agustÃ­ndÃ­azyan',
 'ahab',
 'ahead',
 'ahhh',
 'ahkmenrah',
 'ahluwalia',
 'ahm',
 'ahmad',
 'ahnaisechristma',
 'ahnsung',
 'aibileen',
 'aid',
 'aidan',
 'aidandevin',
 'aidangillen',
 'aidanmcardl',
 'aidanquinn',
 'aide',
 'aiden',
 'aids',
 'ail',
 'aileen',
 'ailments',
 'ailulalaswad',
 'aim',
 'aimeegarcia',
 'aimeeteegarden',
 'aimless',
 'aims',
 'ain',
 'ainous',
 'ainu',
 'air',
 'airattack',
 'airborn',
 'airborne',
 'aircondition',
 'aircontrol',
 'aircraft',
 'aircraftcarri',
 'airforc',
 'airforcebas',
 'airforceon',
 'airguitar',
 'airlin',
 'airline',
 'airlinepilot',
 'airmarsh',
 'airmen',
 'airplan',
 'airplane',
 'airplaneaccid',
 'airplanecrash',
 'airplanehijack',
 'airport',
 'airportloung',
 'airportsecur',
 'airraid',
 'airship',
 'airstrik',
 'airtrafficcontrol',
 'aisha',
 'aishwaryaraibachchan',
 'aisl',
 'aisle',
 'aislinnderbez',
 'aitanasÃ¡nchez',
 'ajami',
 'ajanaomik',
 'ajay',
 'ajey',
 'ajla',
 'ajmichalka',
 'aka',
 'akasha',
 'akeelah',
 'aki',
 'akihiromiwa',
 'akikaurismÃ¤ki',
 'akikowakabayashi',
 'akira',
 'akirakurosawa',
 'akiro',
 'akivagoldsman',
 'akivaschaff',
 'akselhenni',
 'akshayekhanna',
 'akshaykumar',
 'al',
 'ala',
 'alabama',
 'aladdin',
 'alafolix',
 'alagaesia',
 'alain',
 'alainmoussi',
 'alainresnai',
 'alakinamann',
 'alamo',
 'alan',
 'alana',
 'alanalda',
 'alanarkin',
 'alanb',
 'alanbean',
 'alancohn',
 'alancox',
 'alancum',
 'alanj',
 'alank',
 'alanmett',
 'alanpark',
 'alanpoul',
 'alanrickman',
 'alanrudolph',
 'alanshapiro',
 'alansmithe',
 'alantaylor',
 'alantudyk',
 'alanvansprang',
 'alanyuen',
 'alarm',
 'alarmclock',
 'alarmed',
 'alaska',
 'alaskan',
 'alaskanmalamut',
 'alatriste',
 'alba',
 'albandiero',
 'albania',
 'albanian',
 'albany',
 'albeit',
 'albert',
 'albertacanada',
 'albertbrook',
 'albertdupontel',
 'albertfinney',
 'alberthal',
 'alberthugh',
 'alberto',
 'albertosanjuan',
 'albino',
 'album',
 'alcapon',
 'alcatraz',
 'alcohol',
 'alcoholabus',
 'alcoholic',
 'alcoholicdrink',
 'alcoholicfath',
 'aldenehrenreich',
 'alderman',
 'aldo',
 'aldous',
 'aldrin',
 'alec',
 'alecbaldwin',
 'alecguin',
 'aleck',
 'alecmccowen',
 'aleichem',
 'aleishaallen',
 'aleishaforc',
 'alejandro',
 'alejandroagresti',
 'alejandroamenÃ¡bar',
 'alejandrogonzÃ¡leziÃ±Ã¡rritu',
 'alejandromonteverd',
 'aleksandrrobak',
 'aleksandrveledinskiy',
 'aleksei',
 'alekseychadov',
 'alekseygerman',
 'alert',
 'ales',
 'alessandrogassman',
 'alessandronivola',
 'alessandropreziosi',
 'alex',
 'alexand',
 'alexander',
 'alexanderg',
 ...]

In [115]:
from sklearn.metrics.pairwise import cosine_similarity
similarity1 = cosine_similarity(tfidf)

In [116]:
similarity1

array([[1.        , 0.02304877, 0.01781323, ..., 0.01743978, 0.        ,
        0.        ],
       [0.02304877, 1.        , 0.01362106, ..., 0.01323071, 0.00826381,
        0.        ],
       [0.01781323, 0.01362106, 1.        , ..., 0.01029903, 0.        ,
        0.        ],
       ...,
       [0.01743978, 0.01323071, 0.01029903, ..., 1.        , 0.01146623,
        0.01753136],
       [0.        , 0.00826381, 0.        , ..., 0.01146623, 1.        ,
        0.0129397 ],
       [0.        , 0.        , 0.        , ..., 0.01753136, 0.0129397 ,
        1.        ]])

In [117]:
# plt.imshow(similarity1, cmap='hot', interpolation='nearest')
   
# plt.title('2-D Heat Map in Matplotlib')
# plt.colorbar()
# plt.show()

In [118]:
# import operator
def take_second(elem):
    return elem[1]

def predict_movie2(name):
#     new_entry = new_df[new_df['title']==name].index[0]
#         movie_index = new_df[new_df['title']==name].index[0]
    try:
        new_entry = new_df[new_df['title']==name].index[0]
        distance = similarity1[new_entry]
        
        movie_list = sorted(list(enumerate(distance)),reverse=True,key=lambda x :x[1])[0:20]
#         return movie_list
        for i in movie_list:
            print(str(i[1]) +" - " + new_df.iloc[i[0]].title)
        
    except IndexError as e:
        
    
#     #name = input('Enter a movie title: ')
#         name = name.lower()
#         new_movie = new_df[new_df['tags'].str.contains(name)]
#         ls = []
#         for index, row in new_df.iterrows():
#             c = row['tags'].count(name)
#             ls.append(c)
#         movie_list =  sorted(list(enumerate(ls)),reverse=True,key=take_second)[0:6]
# #         return movie_list[0][0]
#         comb_dist = []
#         for i, j in movie_list:
#             distance = similarity[i]
#             comb_dist.append(distance)
#         movie_list = sorted(list(enumerate(distance)),reverse=True,key=lambda x :x[1])[0:10]
#         for i in movie_list:
#             print(new_df.iloc[i[0]].title)
# #         for i in movie_list:
# #             print()
            
        print("--------")

In [122]:
predict_movie2("Pirates of the Caribbean: At World's End")

1.0 - Pirates of the Caribbean: At World's End
0.35093076990825245 - Pirates of the Caribbean: Dead Man's Chest
0.2265961876220959 - Pirates of the Caribbean: The Curse of the Black Pearl
0.17888982447836732 - Pirates of the Caribbean: On Stranger Tides
0.11669073014010456 - The Pirates! In an Adventure with Scientists!
0.11374209827381324 - Life of Pi
0.11341920803038147 - Nim's Island
0.10900517627187185 - Cast Away
0.10033858250854881 - Cutthroat Island
0.09749960830694673 - VeggieTales: The Pirates Who Don't Do Anything
0.0927421322586968 - The Prophecy
0.09150814044710731 - 20,000 Leagues Under the Sea
0.08748660543639382 - Sahara
0.08614137648079476 - The Life Aquatic with Steve Zissou
0.08603189298196953 - The Imaginarium of Doctor Parnassus
0.0832470834926364 - Into the Blue
0.08306319705344233 - Captain Phillips
0.0827324265081813 - Moby Dick
0.08138796418733556 - Beetlejuice
0.08026971017554328 - Meet Dave

In [ ]:
# 1.0000000000000002 - Jennifer's Body
# 0.1463383560810589 - Evil Dead
# 0.14633236798329666 - Bring It On
# 0.14266164908423526 - Mirrors
# 0.13369186066323233 - Girls Gone Dead
# 0.1274900485788187 - R.L. Stine's Monsterville: The Cabinet of Souls
# 0.12211828834456284 - The Unborn
# 0.11590014716724828 - Freddy vs. Jason
# 0.11546000050037653 - Deliver Us from Evil
# 0.11495945157850887 - The Devil's Tomb
# 0.1076962910428817 - 2:13
# 0.10750733409015742 - 21 Jump Street
# 0.10465820761001826 - Child's Play
# 0.10405758610015986 - Hansel and Gretel Get Baked
# 0.10222516996942108 - Texas Chainsaw 3D
# 0.10191647541816515 - The Golden Child
# 0.1004270688085413 - Detention
# 0.09751009131681476 - Bleeding Hearts
# 0.09602608520602932 - Detention of the Dead
# 0.09595092489028793 - The Toxic Avenger Part I

In [43]:
# # 0.10
# The Martian
# Apollo 13
# Armageddon
# The Shipping News
# All Is Lost
# The Astronaut Farmer
# Riddick
# Moon
# Meet Dave
# Red Planet

In [44]:
# 0.19643678062888056 - Aliens
# 0.16107056398865716 - Lara Croft Tomb Raider: The Cradle of Life
# 0.15946718901302348 - Falcon Rising
# 0.1413614227486859 - Battle: Los Angeles
# 0.13477668996178999 - Star Trek Into Darkness
# 0.1312435698513149 - Apollo 18
# 0.1244331103204491 - Aliens vs Predator: Requiem
# 0.1241005561394708 - The Book of Life
# 0.12351255835264201 - Meet Dave